@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    margin-left: 3vw;
    font-family: 'Inter';
    font-weight: 400;

    .main-header {
        margin-top: 3vh;
        width: 100%;
        .main-header-text1 {
            font-weight: 700;
            font-size: 40px;
        }
        .main-header-text2 {
            width: 100%;
            font-size: 20px;
            margin: 3vh 0;
        }
    }

    .main-body {
        width: 100%;
        height: 60%;
        background-color: #ddf3ff;
        border-radius: 10px;
        display: flex;
        .main-body-content {
            width: 100%;
            margin-left: 5%;
            position: relative;
            .main-dots-container {
                width: 80px;
                height: 20px;
                display: flex;
                justify-content: space-between;
                margin-top: 4%;
                .main-dot {
                    width: 25%;
                    height: 100%;
                    background-color: #89d1f8;
                    border-radius: 50%;
                    &.active {
                        background-color: #00a5ff;
                    }
                }
            }

            .main-qustion-container {
                position: absolute;
                top: 13%;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                pointer-events: none;
                &.active {
                    pointer-events: all;
                    opacity: 1;
                }

                .main-qustion-number {
                    font-size: 15px;
                    color: #9a9a9a;
                    margin: 10px 0 25px 0;
                }

                .main-question-text {
                    font-weight: 700;
                    font-size: 20px;
                    margin-bottom: 30px;
                }

                .main-answers-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .main-answer {
                        display: flex;
                        gap: 10px;
                        input {
                            width: 15px;
                            height: 15px;
                        }
                        label {
                            font-size: 15px;
                        }
                        .main-answer-text {
                        }
                    }
                }
            }
            .main-btn-container {
                position: absolute;
                top: 70%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                .main-btn {
                    //height: 30px;
                    border-radius: 5px;
                    border: none;
                    font-family: 'Inter';
                    font-size: 15px;
                    padding: 10px 15px;
                    align-content: center;
                    opacity: 0;
                    &.prev {
                        background-color: #ffffff;
                        color: #000000;
                        font-weight: 700;
                        opacity: 1;
                    }
                    &.next {
                        background-color: #00a5ff;
                        color: #ffffff;
                        font-weight: 400;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-container {
        width: 80vw;
    }
}

@media screen and (max-width: 490px) {
    .main-container .main-header {
        .main-header-text1 {
            font-size: 30px;
        }
        .main-header-text2 {
            font-size: 15px;
        }
    }

    .main-container .main-body {
        height: 100%;

        .main-body-content .main-btn-container {
            top: 80%;
        }
    }
}
